<form method="post">
    <input type="text" name="task">
    <input type="submit" value="Add">
</form>

<ul>
    {% for task in tasks %}
    <li>{{ task }} <button onclick="copyToClipboard('{{ task }}')">Copy</button></li>
    {% endfor %}
</ul>

<script>
    function copyToClipboard(text) {
        // Create a "hidden" input
        var aux = document.createElement("input");
        // Assign it the value of the specified text
        aux.setAttribute("value", text);
        // Append it to the body
        document.body.appendChild(aux);
        // Highlight its content
        aux.select();
        // Copy the highlighted text
        document.execCommand("copy");
        // Remove it from the body
        document.body.removeChild(aux);
    }
</script>

